<?xml version="1.0" encoding="UTF-8"?>
<!--
    Customization of the short-text question template.
-->

<config>
    <!-- Those metadata will be displayed in the template configuration page. They are not used for now. -->
    <metadata>
        <name>5-Point-Smileys</name>
        <type>question_theme</type>
        <title>5 Point Smileys</title>
        <creationDate>2018-03-28 08:00</creationDate>
        <lastUpdate>2023-01-17 08:00</lastUpdate>
        <author>Tony Partner</author>
        <authorEmail>tpartner@partnersurveys.com</authorEmail>
        <supportUrl>None</supportUrl>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <lastSecurityUpdate>1.0</lastSecurityUpdate>
        <description>A 5-point smiley question</description>
        <questionType>5</questionType>
        <group>Single choice questions</group>
        <subquestions>0</subquestions>
        <answerscales>0</answerscales>
        <hasdefaultvalues>0</hasdefaultvalues>
        <assessable>0</assessable>
        <class>choice-5-pt-radio</class>
    </metadata>

    <compatibility>
        <version>3.0</version>
        <version>5.0</version>
        <version>6.0</version>
    </compatibility>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/5-Point-Smiley.css</filename>
        </css>
        <js>
        </js>
		<preview>
			<filename>images/5-point-smileys.png</filename>
		</preview>
    </files>

    <attributes>
		
        <!-- Hide some core attributes -->
		<attribute>
            <name>slider_rating</name>
            <category>Display</category>
            <sortorder>1000</sortorder>
            <inputtype></inputtype>
            <default>0</default>
            <help>This setting is not available in this question theme.</help>
            <caption>Use slider layout (not required in this theme)</caption>
			<readonly_when_active>false</readonly_when_active>
        </attribute>
    </attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
